@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.pointer {
  cursor: pointer;
}

.c212EA0 {
  color: #212ea0;
}
.c000F38 {
  color: #000f38;
}

.navbag {
  background-color: rgb(25, 25, 158);
  transition: 0.5s;
}

@media (max-width: 840px) {
  .nav_840px {
    position: fixed;
    top: 0;
    right: 0;
    bottom:0; 
    background: #5a21b663;
    backdrop-filter: blur(8px);
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }

  .m_25_40{
    margin: 25px 40px;
  }

  .hide-mobile-menu{
    right:-200px; 
  }
}

@media (max-width: 480px) {
  
}