@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #F5F5F5;
}

.pointer{
  cursor: pointer;
}

.c212EA0{
  color:#212EA0; 
}
.c000F38{
  color:#000F38; 
}

.navbag{
  background-color: rgb(25, 25, 158);
  transition: 0.5s;
}

